<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CDG</title>
    <!-- plugins:css -->
   
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">

    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> {% endcomment %}
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/logo-mini.svg' %}" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/"><img src="{% static 'images/logo.svg' %}" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
        </div>

        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="{% static 'images/faces/face1.jpg' %}" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">Kelompok 4</p>
                </div>
              </a>
              
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
              </div>
              
            </li>

            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>

            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="{% url 'splash' %}">
                <i class="mdi mdi-power"></i>
              </a>
            </li>

            {% comment %} <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li> {% endcomment %}
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
          
           
            <li class="nav-item">
              <a class="nav-link" href="home">
                <span class="menu-title">Inisiasi Proyek</span>
                <i class="mdi mdi-shape-polygon-plus menu-icon"></i>
              </a>
            </li>

            
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="translasi">
                <span class="menu-title">Translasi Proyek</span>
                <i class="mdi mdi-sync menu-icon"></i>
              </a>
            </li> {% endcomment %}

            {% comment %} <li class="nav-item">
              <a class="nav-link" href="database">
                <span class="menu-title">Database</span>
                <i class="mdi mdi-database menu-icon"></i>
              </a>
            </li> {% endcomment %}

            <li class="nav-item">
              <a class="nav-link" href="hasil">
                <span class="menu-title">Hasil Translasi</span>
                <i class="mdi mdi-clipboard-text menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="manual">
                <span class="menu-title">User Manual</span>
                <i class="mdi mdi-video menu-icon"></i>
              </a>
            </li>
            
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

          <ul class="breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb my-2">
                <li class="breadcrumb-item active"><a href="/home">Inisiasi</a></li>
                <li class="breadcrumb-item active"><a href="#">Translasi Proyek {{ proyek.nama_proyek }}</a></li>
                <li class="breadcrumb-item">Upload Database Proyek {{ proyek.nama_proyek }}</li>
                
            </ol>
          </ul>
            <div class="row" id="proBanner">
              <div class="col-12">
                {% comment %} <span class="d-flex align-items-center purchase-popup">
                  <p>Get tons of UI components, Plugins, multiple layouts, 20+ sample pages, and more!</p>
                  <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template?utm_source=organic&utm_medium=banner&utm_campaign=free-preview" target="_blank" class="btn download-button purchase-button ml-auto">Upgrade To Pro</a>
                  <i class="mdi mdi-close" id="bannerClose"></i>
                </span> {% endcomment %}
              </div>
            </div>

            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-presentation"></i>
                </span> Database
              </h3>

               

              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  {% comment %} <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li> {% endcomment %}

                  {% comment %} <div class="search-field d-none d-md-block">
                    <form class="d-flex align-items-center h-100" action="#">
                      <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                          <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="Cari Proyek">
                      </div>
                    </form>
                  </div> {% endcomment %}

                </ul>
              </nav>
            </div>
           
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Upload Database</h4>

                            <div class="container">
                            <div class="row">
                                <div class="col-sm-12 ">
                                <form method="post" enctype="multipart/form-data" name="uploadDatabase" action="/upload_database/23">
                                {% csrf_token %}
                                  <div class="form-group inputDnD">
                                      <label class="sr-only" for="inputFile">File Upload</label>
                                      <input type="file" class="form-control-file text-primary " id="inputFile" name="fileDatabase" accept=".xml,text/xml"
                                      onchange="readUrl(this)" data-title="Drag and drop Database">
                                  </div>
                                  </div>
                                </form>
                            </div>

                            <script type="text/javascript">
                                function readUrl(input) {
                            
                                if (input.files && input.files[0]) {
                                    let reader = new FileReader();
                                    reader.onload = (e) => {
                                    let imgData = e.target.result;
                                    let imgName = input.files[0].name;
                                    input.setAttribute("data-title", imgName);
                                    console.log(e.target.result);
                                    }
                                    reader.readAsDataURL(input.files[0]);
                                }
                                }

                                const realFileBtn = document.getElementById("inputFile");

                                realFileBtn.addEventListener("change", function(){
                                    uploadDatabase.submit();
                                });
                            </script>

                             
                                
                                <a href="/hasil" class="btn btn-block btn-lg btn-gradient-primary mt-4"> Ok, Lanjut!</a>
                            
                  </div>
                </div>
              </div>
            </div>
            
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © kelompok 4 2021</span>
              {% comment %} <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates </a> from Bootstrapdash.com</span> {% endcomment %}
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{% static 'js/dragdrop script.js' %}"></script>
    <!-- End custom js for this page -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  
  <!-- Modal -->
  <div class="modal fade" data-backdrop="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Proyek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method="post" action="/tambah_proyek">
            {% csrf_token %}
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nama Proyek:</label>
              <input required name="nama_proyek" type="text" class="form-control" id="recipient-name">{{ form.nama_proyek }}
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="submit" value="" class="btn btn-primary">Tambah</button>
        </div>
          </form>
      </div>
    </div>
  </div>

    
  </body>
  
</html>