<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CDG</title>
    <!-- plugins:css -->
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> {% endcomment %}
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/logo-mini.svg' %}" />
  </head>

  <body>
    <div class="container-scroller">
      
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/"><img src="{% static 'images/logo.svg' %}" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
        </div>

        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="{% static 'images/faces/face1.jpg' %}" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">Kelompok 4</p>
                </div>
              </a>
            </li>

            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>

            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="{% url 'splash' %}">
                <i class="mdi mdi-power"></i>
              </a>
            </li>

            {% comment %} <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li> {% endcomment %}
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
          
            {% comment %} <li class="nav-item nav-profile">
              <span class="nav-link">
                <button type="button" class="btn btn-block btn-lg btn-gradient-primary mt-4" 
                data-toggle="modal" data-target="#exampleModal">+ Tambah Proyek
                </button>
              </span>
            </li> {% endcomment %}
            
            <li class="nav-item">
              <a class="nav-link" href="/home">
                <span class="menu-title">Inisiasi Proyek</span>
                <i class="mdi mdi-shape-polygon-plus menu-icon"></i>
              </a>
            </li>
            
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="translasi">
                <span class="menu-title">Translasi Proyek</span>
                <i class="mdi mdi-sync menu-icon"></i>
              </a>
            </li> {% endcomment %}

            {% comment %} <li class="nav-item">
              <a class="nav-link" href="database">
                <span class="menu-title">Database</span>
                <i class="mdi mdi-database menu-icon"></i>
              </a>
            </li> {% endcomment %}

            <li class="nav-item">
              <a class="nav-link" href="/hasil">
                <span class="menu-title">Hasil Translasi</span>
                <i class="mdi mdi-clipboard-text menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/user_manual">
                <span class="menu-title">User Manual</span>
                <i class="mdi mdi-video menu-icon"></i>
              </a>
            </li>
            
          </ul>
        </nav>
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
          {% comment %} <ul class="breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb my-2">
                <li class="breadcrumb-item active">User Manual</li>
                
            </ol>
          </ul> {% endcomment %}
            <div class="row" id="proBanner">
              <div class="col-12">
                {% comment %} <span class="d-flex align-items-center purchase-popup">
                  <p>Get tons of UI components, Plugins, multiple layouts, 20+ sample pages, and more!</p>
                  <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template?utm_source=organic&utm_medium=banner&utm_campaign=free-preview" target="_blank" class="btn download-button purchase-button ml-auto">Upgrade To Pro</a>
                  <i class="mdi mdi-close" id="bannerClose"></i>
                </span> {% endcomment %}
              </div>
            </div>

            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-video menu-icon"></i>
                </span> User Manual
              </h3>
               
           
            </div>
           
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <iframe width="100%" height="625" src="https://www.youtube.com/embed/gOxOLRDUUz4?autoplay=1" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                  </div>
                </div>
              </div>
            </div>
            
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © kelompok 4 - 2021</span>
              {% comment %} <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates </a> from Bootstrapdash.com</span> {% endcomment %}
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- End custom js for this page -->
    
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Proyek</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method="post" action="/tambah_proyek">
            {% csrf_token %}
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nama Proyek:</label>
              <input required name="nama_proyek" type="text" class="form-control" id="recipient-name">{{ form.nama_proyek }}
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          <button type="submit" value="" class="btn btn-primary">Tambah</button>
        </div>
          </form>
      </div>
    </div>
  </div>

  </body>
  
</html>